
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .form-wrapper{
        flex-direction: column;
    }
    .textareaDiv,
    .inputs-wrapper {
        width: 100%;
    }
    .textareaDiv {
        margin-bottom: 20px;
        padding-right: 0px;
    }
    .textareaDiv textarea{
        min-height: 150px;
    }
    /* Section 2 */
    .titleH2 {
        font-size: 30px;
    }
    .imageContainer {
        flex-direction: column;
        align-items: center;
    }
    /* Footer Section */
    .footerContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footerContainer :not(:last-child) {
        margin-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .btnBox {
        width: 100%;
        margin-bottom: 5px;
    }
    .btnContainer {
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .container {
        width: 90%;
    }
    .form-wrapper{
        flex-direction: column;
    }
    .textareaDiv,
    .inputs-wrapper {
        width: 100%;
    }
    .textareaDiv {
        margin-bottom: 20px;
        padding-right: 0px;
    }
    .textareaDiv textarea{
        min-height: 150px;
    }
    /* Section 2 */
    .titleH2 {
        font-size: 30px;
    }
    .imageContainer {
        flex-direction: column;
        align-items: center;
    }
    /* Footer Section */
    .footerContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .footerContainer :not(:last-child) {
        margin-bottom: 20px;
    }
}